.productPageContainer {
  width: 100%;
  min-height: 90vh;
  background: white;
  display: flex;
  padding: 70px 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.productPageWrapper {
  display: flex;
  flex-direction: column;
}

.productWrapper {
  display: flex;
  gap: 30px;
}

.title {
  font-size: 18px;
  font-weight: 400;
  color: #688f4e;
  padding-bottom: 13px;
}

.secondTitle {
  font-weight: 600;
  font-size: 36px;
  padding: 100px 0 44px 0;
}

.text,
.descriptionText {
  padding-bottom: 28px;
}

.descriptionText {
  width: 638px;
}

.buttonWrapper {
  width: 217px;
}

.similarProductsWrapper {
  display: flex;
  gap: 32px;
}

.imageWrapper {
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}
