.footerContainer {
  width: 100%;
  height: 451px;
  background: #688f4e;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.infoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 250px;
}

.blocksWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;

  font-size: 15px;
  font-weight: 500;
  padding-top: 40px;
}

.termsContainer {
  display: flex;
  gap: 770px;
}

.socialWrapper {
  display: flex;
  gap: 53px;
  align-items: center;
}

.termsWrapper {
  display: flex;
  gap: 52px;
}

h3 {
  color: #ffd2dd;
}
