.signInContainer {
  width: 100%;
  min-height: 90vh;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
}

.signInWrapper {
  width: 1373px;
  height: 743px;
  background: rgba(255, 255, 255, 0.57);
  box-shadow: -50px 50px 200px #F2F2F2;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  align-items: center;
}

.buttonWrapper {
  width: 452px;
  padding: 80px 0px 30px 0px;
}

.infoWrapper {
  width: 440px;
  display: flex;
  line-height: 24.6px;
  text-align: center;
}

input {
  width: 17px;
  margin-right: 15px;
}

.resetText {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;

  width: 440px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  padding: 20px;
  margin-bottom: 30px;
  background: #f4eefd;
  text-align: center;
}

.resetEmail {
  font-weight: 700;
}
